<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro - TooEasy</title>
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/alerts.css">
    
    <link rel="stylesheet" href="../public/css/iniciarsesion.css">
</head>
<body>
    <div class="auth-container">
        <form id="registerForm">

            <div class="avatar-header">
                <img src="../public/img/avatars/perfil1.png" alt="Avatar" class="avatar-img">
            </div>

            <h2>Crear Cuenta</h2>
            <p class="subtitle">¡Completa tu perfil para empezar!</p>

            <div class="field">
                <input type="text" id="registerNombre"
                       minlength="3" maxlength="16"
                       placeholder="Nombre de usuario" required>
            </div>

            <div class="field">
                <input type="email" id="registerEmail"
                       minlength="6" maxlength="254"
                       placeholder="Correo electrónico" required>
            </div>

            <div class="field">
                <input type="password" id="registerContraseña"
                       minlength="6" maxlength="16"
                       placeholder="Contraseña (6–16 caracteres)" required>
            </div>

            <div class="row-fields">
                <input type="number" id="registerEdad"
                       placeholder="Edad" min="15" max="99" required>

                <select id="registerGenero" required>
                    <option value="" disabled selected>Género</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="otro">Otro</option>
                    <option value="no-decir">Prefiero no decir</option>
                </select>
            </div>

            <div class="terms-group">
                <input type="checkbox" id="terminos" required>
                <label for="terminos">
                    Acepto los <span>Términos y Condiciones</span>
                </label>
            </div>

            <button type="submit" class="btn-primary">Crear cuenta</button>

            <p class="login-ask">
                ¿Ya tienes cuenta?
                <a href="login.html" class="login">Iniciar sesión</a>
            </p>

        </form>
    </div>

    <div class="footer-navigation">
        <a href="./index.html" class="btn-back">← Regresar</a>
    </div>

    <script type="module" src="/public/js/pages/auth.js"></script>
    <script src="../public/js/data/terminos.js"></script>
</body>
</html>